<link rel="stylesheet" href="~/Content/GetReport.css"/>
@model  Vodafone.Models.fnFormulaVPC_Result
@{
    ViewData["Title"] = "";
}
<table width="100%">
    <tbody>
        <tr>
            <td colspan="24">
                <h3 style="text-align: left; border-bottom: 2px solid rgb(191,191,191);"><b>VPC ELECTRICITY POLICY</b></h3>
            </td>
        </tr>
        <tr>
            <td colspan="24">
                <h3 style="text-align: left;"><b>APPENDIX A</b></h3>
            </td>
        </tr>
        <tr>
            <td colspan="18">
                <h4 style="text-align: left;"><b>OPERATING COMPANY</b></h4>
            </td>
            <td colspan="6">
                <h4 style="text-align: center;"><b>@ViewBag.raportname</b></h4>
            </td>
        </tr>
        <tr>
            <td colspan="18">
                <h5 style="text-align: right;"><b>REPORTING PERIOD:</b></h5>
            </td>
            <td colspan="6">
                <h5 style="text-align: center;"><b>@DateTime.Now.ToShortDateString()</b></h5>
            </td>
        </tr>
        <tr>
            <td style="height: 20px;"></td>
        </tr>
        <tr>
            <td colspan="12" style="border: 1px solid rgb(191,191,191);">High electricity prices using historical volatility</td>
            <td colspan="6" style="text-align: center; border: 1px solid rgb(191,191,191);">@ViewBag.High.ToString("0.##") @ViewBag.CurrrencyCode/@ViewBag.UnitName</td>
            <td colspan="6"></td>
        </tr>
        <tr>
            <td style="height: 20px;"></td>
        </tr>
        <tr>
            <td colspan="12" style="border: 1px solid rgb(191,191,191);"><div>Medium electricity prices using historical volatility</div></td>
            <td colspan="6" style="text-align: center; border: 1px solid rgb(191,191,191);"><div>@ViewBag.Medium.ToString("0.##")- @ViewBag.High.ToString("0.##") @ViewBag.CurrrencyCode/@ViewBag.UnitName</div></td>
            <td colspan="6"></td>
        </tr>
        <tr>
            <td style="height: 20px;"></td>
        </tr>
        <tr>
            <td colspan="12" style="border: 1px solid rgb(191,191,191);">Low electricity prices using historical volatility</td>
            <td colspan="6" style="text-align: center; border: 1px solid rgb(191,191,191);">@ViewBag.Low.ToString("0.##")-@ViewBag.Medium.ToString("0.##") @ViewBag.CurrrencyCode/@ViewBag.UnitName</td>
            <td colspan="6"></td>
        </tr>
        <tr style="height: 20px;"></tr>
        <tr>
            <td colspan="12" style="border: 1px solid rgb(191,191,191);">Ultra-low electricity prices using historical volatility</td>
            <td colspan="6" style="text-align: center; border: 1px solid rgb(191,191,191);">@ViewBag.Low.ToString("0.##") @ViewBag.CurrrencyCode/@ViewBag.UnitName</td>
            <td colspan="6"></td>
        </tr>
        <tr>
            <td style="height: 20px;"></td>
        </tr>
        <tr>
            <td colspan="12" style="border: 1px solid rgb(191,191,191);">Lowest price during reporting period</td>
            <td colspan="6" style="text-align: center; border: 1px solid rgb(191,191,191);">@ViewBag.MinMarket_Value.ToString("0.##") @ViewBag.CurrrencyCode/@ViewBag.UnitName on @ViewBag.MinMarket_Date.ToShortDateString()</td>
            <td colspan="6"></td>
        </tr>
        <tr>
            <td style="height: 20px;"></td>
        </tr>
        <tr>
            <td  colspan="6" style="border: 1px solid rgb(191,191,191);">
                <div>Prices were (tick one box)</div>
            </td>
            <td colspan="3" style="text-align: center; border: 1px solid rgb(191,191,191);">
                <div>High</div>
                <div style="height: 20px; border-top: 1px solid rgb(191,191,191);">@ViewBag.Highx</div>
            </td>
            <td colspan="3" style="text-align: center; border: 1px solid rgb(191,191,191);">
                <div>Medium</div>
                <div style="height: 20px; border-top: 1px solid rgb(191,191,191);">@ViewBag.Mediumx</div>
            </td>
            <td colspan="3" style="text-align: center; border: 1px solid rgb(191,191,191);">
                <div>Low</div>
                <div style="height: 20px; border-top: 1px solid rgb(191,191,191);">@ViewBag.Lowx</div>
            </td>
            <td colspan="3" style="text-align: center; border: 1px solid rgb(191,191,191);">
                <div>Ultra-low</div>
                <div style="height: 20px; border-top: 1px solid rgb(191,191,191);">@ViewBag.UltraLowx</div>
            </td>
        </tr>
        <tr>
            <td style="height: 20px;"></td>
        </tr>
    </tbody>
    <tr>
        <td style="height: 20px;"></td>
    </tr>
    <tbody>
        <tr>
            <td style="height: 20px;"></td>
        </tr>
        <tr>
            <td colspan="24">
                <h4 style="text-align: left; border-bottom: 2px solid rgb(191,191,191);"><b>Forecast Consumption ("FC")</b></h4>
            </td>
        </tr>
        <tr>
            <td style="height: 20px;"></td>
        </tr>
        <tr>
            <td colspan="4">
                <div style="text-align: center; border: 1px solid rgb(191,191,191);"><b>Base load</b></div>
            </td>
            <td colspan="4" style="text-align: center;">
                <div><b></b></div>
            </td>
            <td colspan="4" style="text-align: center;">
                <div><b></b></div>
            </td>
            <td colspan="8" style="text-align: center; border: 1px solid rgb(191,191,191);">
                <div><b>@ViewBag.VolumeTotal.ToString("0.##") @ViewBag.UnitName</b></div>
            </td>
            <td colspan="4" style="text-align: center; ">
                <div><b></b></div>
            </td>
        </tr>
        <tr>
            <td style="height: 20px;"></td>
        </tr>
    </tbody>
@if (ViewBag.MaxPriceFixed != null)
{
    if (ViewBag.VolumeFixProcent != null)
    {
    <tbody>
        <tr>
            <td style="height: 20px;"></td>
        </tr>
        <tr>
            <td colspan="24">
                <h4 style="text-align: left; border-bottom: 2px solid rgb(191,191,191);"><b>Year ahead fixings</b></h4>
            </td>
        </tr>
        <tr>
            <td style="height: 20px;"></td>
        </tr>
        <tr>
            <td colspan="4">
                <div style="text-align: center; border: 1px solid rgb(191,191,191);"><b>Base load</b></div>
            </td>
            <td colspan="4" style="text-align: center;">
                <div><b></b></div>
            </td>
            <td colspan="4" style="text-align: center; border: 1px solid rgb(191,191,191);">
                <div style="height: 20px;">Price fixed</div>
            </td>
            <td colspan="4" style="text-align: center; border: 1px solid rgb(191,191,191);">
                <div style="height: 20px;">LV</div>
            </td>
            <td colspan="4" style="text-align: center; border: 1px solid rgb(191,191,191);">
                <div style="height: 20px;">MW</div>
            </td>
            <td colspan="4" style="text-align: center; border: 1px solid rgb(191,191,191);">
                <div style="height: 20px;">Policy compliant</div>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <div><b></b></div>
            </td>
            <td colspan="4" style="text-align: center;">
                <div><b></b></div>
            </td>
            <td colspan="4" style="text-align: center; border: 1px solid rgb(191,191,191);">
                <div style="height: 20px;">@ViewBag.MaxPriceFixed.ToString("0.##") @ViewBag.CurrrencyCode/@ViewBag.UnitName</div>
            </td>
            <td colspan="8" style="text-align: center; border: 1px solid rgb(191,191,191);">
                <div style="height: 20px;">@ViewBag.VolumeFixProcent.ToString("0.##")% of FC</div>
            </td>
            <td colspan="4" style="text-align: center; border: 1px solid rgb(191,191,191);">
                <div style="height: 20px;">@ViewBag.PolicyCompliant1</div>
            </td>
        </tr>
        <tr>
            <td style="height: 20px;"></td>
        </tr>
    </tbody>
    }
}
@if (ViewBag.MaxPriceFixed1 != null)
{
    if (ViewBag.VolumeFixProcent1 != null)
    {
    <tbody>
        <tr>
            <td style="height: 20px;"></td>
        </tr>
        <tr>
            <td colspan="24">
                <h4 style="text-align: left; border-bottom: 2px solid rgb(191,191,191);"><b>1 Year beyond Year ahead fixings</b></h4>
            </td>
        </tr>
        <tr>
            <td style="height: 20px;"></td>
        </tr>
        <tr>
            <td colspan="4">
                <div style="text-align: center; border: 1px solid rgb(191,191,191);"><b>Base load</b></div>
            </td>
            <td colspan="4" style="text-align: center;">
                <div><b></b></div>
            </td>
            <td colspan="4" style="text-align: center; border: 1px solid rgb(191,191,191);">
                <div style="height: 20px;">Price fixed</div>
            </td>
            <td colspan="4">
                <div style="height: 20px;"></div>
            </td>
            <td colspan="4" style="text-align: center; border: 1px solid rgb(191,191,191);">
                <div style="height: 20px;">MW</div>
            </td>
            <td colspan="4" style="text-align: center; border: 1px solid rgb(191,191,191);">
                <div style="height: 20px;">Policy compliant</div>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <div><b></b></div>
            </td>
            <td colspan="4" style="text-align: center;">
                <div><b></b></div>
            </td>
            <td colspan="4" style="text-align: center; border: 1px solid rgb(191,191,191);">
                <div style="height: 20px;">@ViewBag.MaxPriceFixed1.ToString("0.##") @ViewBag.CurrrencyCode/@ViewBag.UnitName</div>
            </td>
            <td colspan="4">
                <div style="height: 20px;"></div>
            </td>
            <td colspan="4" style="text-align: center; border: 1px solid rgb(191,191,191);">
                <div style="height: 20px;">@ViewBag.VolumeFixProcent1.ToString("0.##")% of FC</div>
            </td>
            <td colspan="4" style="text-align: center; border: 1px solid rgb(191,191,191);">
                <div style="height: 20px;">@ViewBag.PolicyCompliant2</div>
            </td>
        </tr>
        <tr>
            <td style="height: 20px;"></td>
        </tr>
    </tbody>
    }
}
@if (ViewBag.MaxPriceFixed2 != null)
{
    if (ViewBag.VolumeFixProcent2 != null)
    {
    <tbody>
        <tr>
            <td style="height: 20px;"></td>
        </tr>
        <tr>
            <td colspan="24">
                <h4 style="text-align: left; border-bottom: 2px solid rgb(191,191,191);"><b>2 Year beyond Year ahead fixings</b></h4>
            </td>
        </tr>
        <tr>
            <td style="height: 20px;"></td>
        </tr>
        <tr>
            <td colspan="4">
                <div style="text-align: center; border: 1px solid rgb(191,191,191);"><b>Base load</b></div>
            </td>
            <td colspan="4" style="text-align: center;">
                <div><b></b></div>
            </td>
            <td colspan="4" style="text-align: center; border: 1px solid rgb(191,191,191);">
                <div style="height: 20px;">Price fixed</div>
            </td>
            <td colspan="4">
                <div style="height: 20px;"></div>
            </td>
            <td colspan="4" style="text-align: center; border: 1px solid rgb(191,191,191);">
                <div style="height: 20px;">MW</div>
            </td>
            <td colspan="4" style="text-align: center; border: 1px solid rgb(191,191,191);">
                <div style="height: 20px;">Policy compliant</div>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <div><b></b></div>
            </td>
            <td colspan="4" style="text-align: center;">
                <div><b></b></div>
            </td>
            <td colspan="4" style="text-align: center; border: 1px solid rgb(191,191,191);">
                <div style="height: 20px;">@ViewBag.MaxPriceFixed2.ToString("0.##") @ViewBag.CurrrencyCode/@ViewBag.UnitName</div>
            </td>
            <td colspan="4" >
                <div style="height: 20px;"></div>
            </td>
            <td colspan="4" style="text-align: center; border: 1px solid rgb(191,191,191);">
                <div style="height: 20px;">@ViewBag.VolumeFixProcent2.ToString("0.##")% of FC</div>
            </td>
            <td colspan="4" style="text-align: center; border: 1px solid rgb(191,191,191);">
                <div style="height: 20px;">@ViewBag.PolicyCompliant3</div>
            </td>
        </tr>
        <tr>
            <td style="height: 20px;"></td>
        </tr>

    </tbody>
    }
}
    <tr>
        <td width="2.4%"></td>
        <td width="2.4%"></td>
        <td width="2.4%"></td>
        <td width="2.4%"></td>
        <td width="2.4%"></td>
        <td width="2.4%"></td>
        <td width="2.4%"></td>
        <td width="2.4%"></td>
        <td width="2.4%"></td>
        <td width="2.4%"></td>
        <td width="2.4%"></td>
        <td width="2.4%"></td>
        <td width="2.4%"></td>
        <td width="2.4%"></td>
        <td width="2.4%"></td>
        <td width="2.4%"></td>
        <td width="2.4%"></td>
        <td width="2.4%"></td>
        <td width="2.4%"></td>
        <td width="2.4%"></td>
        <td width="2.4%"></td>
        <td width="2.4%"></td>
        <td width="2.4%"></td>
        <td width="2.4%"></td>
    </tr>
</table>