@model  Vodafone.Models.vwFormulaVPC
@{
    ViewData["Title"] = "Home Page";
}
<section class="contentblock">
    <div class="container">
        <div class="whitebackground">
            <div class="col-sm-12">
                <div class="heading1">
                    <h3><span><b>VPC ELECTRICITY POLICY</b></span><div class="line2"></div></h3>
                </div>
            </div>
            <div class="col-sm-12"><h3 class="color-grey"><span><b>APPENDIX A</b></span></h3></div>
            <div class="col-sm-12">
                <div class="row col-xl-12 col-sm-12 pb0">
                    <div class="col-sm-12 col-md-8 fb"><h4 class="bacground-grey"><span><b>OPERATING COMPANY</b></span></h4></div>
                    <div class="col-sm-12 col-md-4 pb0"><h4 class="bacground-orange"><span>VFCZ</span></h4></div>
                    <div class="row col-sm-12 pb0">
                        <div class="col-sm-12 col-md-6 col-lg-8">
                            <h5 class="yelou-greed color-orange "><span><b>REPORTING PERIOD:</b></span></h5>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="row">
                                <div class="pb0 col-sm-12">
                                    <div class="col-sm-12 wbc"><b>@DateTime.Now</b></div>
                                    <div class="col-sm-12 fb clear"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-8 pb0">
                    <div class="col-sm-12 wbc1"></div>
                    <div class="col-sm-12 col-md-9 pb0">
                        <div class="col-sm-12 bbc">High electricity prices using historical volatility</div>
                    </div>
                    <div class="col-sm-12 col-md-3 pb0">
                        <div class="col-sm-12 ybc"><b>@ViewBag.High</b></div>
                    </div>
                    <div class="col-sm-12 wbc1 clear"></div>
                    <div class="col-sm-12 col-md-9 pb0">
                        <div class="col-sm-12 bbc">Medium electricity prices using historical volatility</div>
                    </div>
                    <div class="col-sm-12 col-md-3 pb0">
                        <div class="col-sm-12 ybc"><b>@ViewBag.Medium</b>-<b>@ViewBag.High</b></div>
                    </div>
                    <div class="col-sm-12 wbc1 clear"></div>
                    <div class="col-sm-12 col-md-9 pb0">
                        <div class="col-sm-12 bbc">Low electricity prices using historical volatility</div>
                    </div>
                    <div class="col-sm-12 col-md-3 pb0">
                        <div class="col-sm-12 ybc"><b>@ViewBag.Low</b>-<b>@ViewBag.Medium</b></div>
                    </div>
                    <div class="col-sm-12 wbc1 clear"></div>
                    <div class="col-sm-12 col-md-9 pb0">
                        <div class="col-sm-12 bbc">Ultra-low electricity prices using historical volatility</div>
                    </div>
                    <div class="col-sm-12 col-md-3 pb0">
                        <div class="col-sm-12 ybc"><b>@ViewBag.Low</b></div>
                    </div>
                    <div class="col-sm-12 wbc1 clear"></div>
                    <div class="col-sm-12 col-md-9 pb0">
                        <div class="col-sm-12 bbc">Lowest price during reporting period</div>
                    </div>
                    <div class="col-sm-12 col-md-3 pb0">
                        <div class="col-sm-12 ybc"><b>@ViewBag.MinMarket_Value</b>-<b>@ViewBag.MinMarket_Date</b></div>
                    </div>
                    <div class="col-sm-12 wbc1 clear"></div>
                    <div class="col-sm-12 bbc col-md-4 pb0">
                        <div class="col-sm-12 bbc1">Prices were (tick one box)</div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-2 pb0">
                        <div class="wbc">
                            <div class="col-xs-12 col-sm-12 pb0">High</div>
                        </div>
                        <div class="ybc">
                            <div class="col-xs-12 col-sm-12 pb0">@ViewBag.High</div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-2 pb0">
                        <div class="wbc">
                            <div class="col-xs-12 col-sm-12 pb0">Medium</div>
                        </div>
                        <div class="ybc">
                            <div class="col-xs-12 col-sm-12 pb0">@ViewBag.Medium</div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-2 pb0">
                        <div class="wbc">
                            <div class="col-xs-12 col-sm-12 pb0">Low</div>
                        </div>
                        <div class="ybc">
                            <div class="col-xs-12 col-sm-12 pb0">@ViewBag.Low</div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-2 pb0">
                        <div class="wbc">
                            <div class="col-xs-12 col-sm-12 pb0">Ultra-low</div>
                        </div>
                        <div class="ybc">
                            <div class="col-xs-12 col-sm-12 pb0">@ViewBag.Low</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>
        <div class="container">
            <div class="row whitebackground">
                <div class="col-sm-12 ">
                    <div class="heading1">
                        <h4><span><b>FORECASTING CONSUMPTION</b></span><div class="line2"></div></h4>
                    </div>
                    <div class="row col-xl-12 col-sm-12 col-md-12 col-lg-8 pb0">
                        <div class="col-sm-12 wbc1"></div>
                        <div class="col-xs-12 col-sm-12 col-md-3 pb0">
                            <div class="pb0 col-sm-12 fd"><b></b></div>
                            <div class="pb0 col-sm-12 fd"><b></b></div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 pb0">
                            <div class="pb0  col-sm-12 wbc"><b>LW</b></div>
                            <div class="pb0  col-sm-12 ybc"><b>@ViewBag.VolumeTotal</b></div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 pb0">
                            <div class="pb0  col-sm-12 fd"><b></b></div>
                            <div class="pb0  col-sm-12 fd"><b></b></div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 pb0">
                            <div class="pb0 col-sm-12 fd"><b></b></div>
                            <div class="pb0 col-sm-12 fd"><b></b></div>
                        </div>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row whitebackground">
                <div class="col-sm-12">
                    <div class="heading1">
                        <h4><span><b>YEAR-AHEAD FIXINGS</b></span><div class="line2"></div></h4>
                    </div>
                    <div class="row col-xl-12 col-sm-12 col-md-12 col-lg-8 pb0">
                        <div class="col-sm-12 wbc1"></div>
                        <div class="col-xs-12 col-sm-6 col-md-3 pb0">
                            <div class="col-sm-12 wbc"><b>Price fixed</b></div>
                            <div class="col-sm-12 ybc"><b>@ViewBag.MaxPriceFixed</b></div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 pb0">
                            <div class="col-sm-12 wbc"><b>LW</b></div>
                            <div class="col-sm-12 ybc"><b>@ViewBag.VolumeFixProcent</b></div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 pb0">
                            <div class="col-sm-12 wbc"><b>MW</b></div>
                            <div class="col-sm-12 ybc"><b>% of FC</b></div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 pb0">
                            <div class="col-sm-12 fb"><b></b></div>
                            <div class="col-sm-12 fb"><b></b></div>
                        </div>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row whitebackground">
                <div class="col-sm-12">
                    <div class="heading1">
                        <h4><span><b>YEAR BEYOND YEAR AHEAD FIXINGS</b></span><div class="line2"></div></h4>
                    </div>
                    <div class="row col-xl-12 col-sm-12 col-md-12 col-lg-8 pb0">
                        <div class="col-sm-12 wbc1"></div>
                        <div class="col-xs-12 col-sm-6 col-md-3 pb0">
                            <div class="col-sm-12 wbc"><b>Price fixed</b></div>
                            <div class="col-sm-12 ybc"><b>@ViewBag.MaxPriceFixed2</b></div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 pb0">
                            <div class="col-sm-12 wbc"><b>LW</b></div>
                            <div class="col-sm-12 ybc"><b>@ViewBag.VolumeFixProcent2</b></div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 pb0">
                            <div class="col-sm-12 wbc"><b>MW</b></div>
                            <div class="col-sm-12 ybc"><b>% of FC</b></div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 pb0">
                            <div class="col-sm-12 fb"><b></b></div>
                            <div class="col-sm-12 fb"><b></b></div>
                        </div>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </div>
        </div>
    </div>
</section>